{{include 'admin/public/header.html'}}
<link rel="shortcut icon" href="/upload/title_Image/icon.ico"/>

<body>
<div class="navbar navbar-default" id="navbar">
	<script type="text/javascript">
		try{ace.settings.check('navbar' , 'fixed')}catch(e){}
	</script>

	{{include 'admin/public/nav_top.html'}}
</div>

<div class="main-container" id="main-container">
	<script type="text/javascript">
		try{ace.settings.check('main-container' , 'fixed')}catch(e){}
	</script>

	<div class="main-container-inner">
		<a class="menu-toggler" id="menu-toggler" href="#">
			<span class="menu-text"></span>
		</a>

		<!--左侧导航-->

		{{include 'admin/public/nav_left.html'}}

		<div class="main-content">
			<div class="breadcrumbs" id="breadcrumbs">
				<script type="text/javascript">
					try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
				</script>

				<ul class="breadcrumb">
					<li>
						<i class="icon-home home-icon"></i>
						<a href="#">首页</a>
					</li>
					<li class="active">控制台</li>
				</ul><!-- .breadcrumb -->

				<div class="nav-search" id="nav-search">
					<form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
									<i class="icon-search nav-search-icon"></i>
								</span>
					</form>
				</div><!-- #nav-search -->
			</div>

			<div class="page-content">

				<div class="page-header">
					<h1>
						修改社团相册信息
					</h1>
				</div><!-- /.page-header -->

				<!--表格-->

				<div class="table-responsive">
					<form action="{{__HOST__}}/admin/album/doEdit" method="post" class="form-horizontal" enctype="multipart/form-data" style="border:1px solid #eee;">
						<div class="form-group"  style="height: 140px;">
							<label class="col-sm-2 control-label no-padding-right" for="headphoto">更换相片:</label>			
							<div class="col-sm-10">
								<label for="fileinp" id="label">
									<input type="button" id="btn" value="点我更换"><span id="text">　社团相片</span>
									<input type="file" name="pic" id="fileinp"/>
								</label>
							</div>
							<br/>
							<img src="{{__HOST__}}/{{list.pic}}" alt="" class="img" style="margin-left:298px;margin-top:7px;"/>
							<br/>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label no-padding-right" for="pid">所在社团：</label>
							<div class="col-sm-10">
								<select name="pid" id="pid">
									{{each catelist}}
										<option value="{{@$value._id}}" {{if list.pid==$value._id}}selected {{/if}}>{{$value.title}}</option>
										{{each $value.list}}
											<option value="{{@$value._id}}"   {{if list.pid==$value._id}}selected {{/if}}>　　　{{$value.title}}</option>
										{{/each}}
									{{/each}}
								</select>
							</div>
							<input type="hidden" name="catename" id="catename"  value="{{catelist[0].title}}" />
							<input type="hidden" name="id" id="id"  value="{{@list._id}}" />
							<input type="hidden" name="prevPage" id="prevPage"  value="{{prevPage}}" />
						</div>
						
						<div class="form-group">
							<label class="col-sm-2 control-label no-padding-right" for="rpassword"></label>
							<div class="col-sm-10">
								<button type="submit" class="btn btn-primary">提交</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div><!-- /.main-content -->
	</div><!-- /.main-container-inner -->

	
	<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
		<i class="icon-double-angle-up icon-only bigger-110"></i>
	</a>
</div><!-- /.main-container -->



{{include 'admin/public/footer.html'}}

<script>

	//分类改变的时候  把分类的名称赋值给隐藏的表单域
	var pidDom=document.getElementById('pid');
	var catenameDom=document.getElementById('catename');
	var options=pidDom.getElementsByTagName('option');
	pidDom.onchange=function(){
		//分类改变的时候 获取选中的值 赋值给  catename
		for(var i=0;i<options.length;i++){
			if(options[i].selected){
				catenameDom.value=options[i].innerHTML.trim();
			}
		}
	}

</script>

</body>
</html>

