<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{{each currentResult}}
<title>{{$value.associationName}}_新闻</title>
{{/each}}
<link href="/default/鼠标经过选项卡内容切换/css/style.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="/default/css/common.css" />
<link rel="stylesheet" type="text/css" href="/default/css/activityContent.css" />
<link rel="stylesheet" href="{{__HOST__}}/admin/css/font-awesome.min.css" />

<!--引入jquery-ui组件库-->
<link rel="stylesheet" href="{{__HOST__}}/default/jquery-ui/jquery-ui-1.12.1.custom/jquery-ui.min.css" />
<script type="text/javascript" src="/default/js/focus/jquery.min.js"></script>
<script type="text/javascript" src="{{__HOST__}}/default/jquery-ui/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
</head>

<body>
<!--导航栏-->
<!--黑色分割线-->
<div class="nav-top-line"></div> 
<!--导航栏内容：logo + 分栏选项卡-->
<div id="header-wrapper">
	<div class="header-inner">
		<div class="logo">
			<h1>
				<a href="#" title="欢迎来到学院学生社团汇"></a>
			</h1>
		</div>
		<div class="nav" >
			<ul class="clear">
				{{each nav}}
				<li>
					<a href="{{$value.navUrl}}"{{if pathname==$value.navUrl}} class="index" {{/if}} title="{{$value.navTitle}}">{{$value.navTitle}}</a>
				</li>
				{{/each}}
			</ul>
		</div>

		<!--登录按钮-->
		<!-- {{each dataG}}
			{{if !dataG.userinfo}}
			<div class="loginStyle" >
				<a href="{{__HOST__}}/login">
					<button type="button" class="loginBtn">登录</button>
				</a>
			</div>
			{{/if}}
			{{if dataG.prevPage&&dataG.userinfo.value!=""}}
				<div class="loginStyle" >
					<a href="{{__HOST__}}/login">
						<button type="button" hidden>登录</button>
					</a>
				</div>
			{{/if}}
		{{/each}} -->
	</div>
</div>

<div class="container">
	<div class="article">
		<div class="turnOff">
			<a href="#" id="off"><i class="icon-remove-circle"></i></a>
		</div>
		{{each currentResult}}
		<div class="title">
			{{$value.newsTitle}}
		</div>
		<br>
		<span class="span">
			<i class="icon-home"></i>
			　www.home.sise.cn
		</span>
	   	<span class="span">
			<i class="icon-time"></i>　
			{{if $value.edit_time}}
				{{$value.edit_time | dateFormat}}
			{{/if}}
		</span>
		<span class="span">
			<i class="icon-user"></i>
			　{{$value.associationName}}
		</span>
		<p class="mainArticle">
			{{@$value.mainArticle}}
		</p>	
		{{/each}}
		<br><br>
		<hr id="hr">
	</div>
</div>

</body>
	<script>
	$(document).ready(function(){
		$('#off').mousedown(function(){
			$('.container').css('display','none');
			$(location).attr('href','{{__HOST__}}/news');
		});
		$('.hot').css({'color':'red','font-size':'28px'});
		$('.activityTitle').css({'font-size':'15px'});
	})
	$(document).click(function(){
		$('.article').effect('shake');
	})
	</script>
	<!-- smooth scrolling -->
	<script type="text/javascript" src="{{__HOST__}}/default/js/SmoothScroll.min.js"></script>
	<script type="text/javascript" src="{{__HOST__}}/default/js/move-top.js"></script>
	<script type="text/javascript" src="{{__HOST__}}/default/js/easing.js"></script>
	<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			// $().UItoTop({ easingType: 'easeOutQuart' });				
			});
	</script>
	<!-- //here ends scrolling icon -->
	<!-- //smooth scrolling -->
</html>




