<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>社团视频</title>	
	<link rel="stylesheet" type="text/css" href="default/css/video-pagination.css" />
	<!--网页图标---icon_---->
	<link rel="shortcut icon" href="upload/title_Image/icon.ico"/>
	<link rel="stylesheet" type="text/css" href="default/css/focus/Cooldog.css" />
	<link rel="stylesheet" type="text/css" href="default/css/focus/iconfont.css" />
	<link rel="stylesheet" type="text/css" href="default/css/reset.css" />
	<link rel="stylesheet" type="text/css" href="default/css/common.css" />
    <link rel="stylesheet" type="text/css" href="default/css/index.css" />
    <link rel="stylesheet" type="text/css" href="default/css/swiper.min.css" />
	<script type="text/javascript" src="default/js/swiper.min.js"></script>
	<script type="text/javascript" src="default/js/focus/jquery.min.js"></script>
	<script type="text/javascript" src="default/js/focus/Cooldog.js"></script>	
	<!--布局.css-->
	<link rel="stylesheet" type="text/css" href="default/css/buju.css">
	<link rel="stylesheet" type="text/css" href="default/css/vote.css">

	<link rel="stylesheet" href="default/video/css/reset.min.css">
	<link rel="stylesheet" href="default/video/css/style.css">
	
</head>
<body>
	
<!--导航栏-->
	<!--导航栏-->
	<!--黑色分割线-->
	<div class="nav-top-line"></div> 
	<!--导航栏内容：logo + 分栏选项卡-->
	<div id="header-wrapper">
		<div class="header-inner">
			<div class="logo">
				<h1>
					<a href="#" title="欢迎来到学院学生社团汇"></a>
				</h1>
			</div>
			<div class="nav" >
				<ul class="clear">
					{{each nav}}
					<li>
						<a href="{{$value.navUrl}}"{{if pathname==$value.navUrl}} class="index" {{/if}} title="{{$value.navTitle}}">{{$value.navTitle}}</a>
					</li>
					{{/each}}
				</ul>
			</div>
			<!-- {{each dataG}}
				{{if !dataG.userinfo}}
				<div class="loginStyle" >
					<a href="{{__HOST__}}/login">
						<button type="button" class="loginBtn">登录</button>
					</a>
				</div>
				{{/if}}
				{{if dataG.prevPage&&dataG.userinfo.value!=""}}
					<div class="loginStyle" >
						<a href="{{__HOST__}}/login">
							<button type="button" hidden>登录</button>
						</a>
					</div>
				{{/if}}
			{{/each}} -->
		</div>
	</div>
	
<div id="site">
	{{each videolist}}
	<!-- {{if $value.status==1}} -->
	<div id="videoBox" class="box">
		<video width="400" controls>
		<source src="{{$value.myfile}}" type="video/mp4">Your browser does not support HTML5 video. </video>
	</div>
  
	<div id="bloc">
		<div id="commentsBox" class="box">
			<div>
				<h2>视频简介</h2><br>
				<hr><br>
				<p><span></span><span></span><span></span><span></span><span></span></p>
				<br>
			</div>
		</div>
		<div id="suggBox" class="box">
			<div>
				<h2>视频名称</h2><br>
				<hr><br>
				<p>{{$value.title}}</p>
				<br>
			</div>
		</div>
	</div>
	<!-- {{/if}} -->
	{{/each}}	
	<!--页码选择器-->
	<div id="page" class="pagination"></div> 
</div>
	 
		 
	  
</body>

<script src="default/video/js/jquery.min.js"></script>
	  <script src="default/video/js/index.js"></script>
	  <!--注意放在jq下面-->
	  <script src="{{__HOST__}}/default/jqPaginator.js"></script>
	  <script>
		$('#page').jqPaginator({
			totalPages: {{totalPages}},
			visiblePages: 8,
			currentPage: {{page}},
			onPageChange: function (num, type) {
				console.log(num, type);
				if(type=='change'){
					location.href="{{__HOST__}}/video?page="+num;
				}
			}
		}); 
	  </script>

</html>