{{include 'admin/public/header.html'}}
<link rel="shortcut icon" href="/upload/title_Image/icon.ico"/>

	<body>
		<div class="navbar navbar-default" id="navbar">
			<script type="text/javascript">
				try{ace.settings.check('navbar' , 'fixed')}catch(e){}
			</script>

			{{include 'admin/public/nav_top.html'}}
		</div>

		<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>

			<div class="main-container-inner">
				<a class="menu-toggler" id="menu-toggler" href="#">
					<span class="menu-text"></span>
				</a>

				<!--左侧导航-->

				{{include 'admin/public/nav_left.html'}}

				<div class="main-content">
					<div class="breadcrumbs" id="breadcrumbs">
						<script type="text/javascript">
							try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
						</script>

						<ul class="breadcrumb">
							<li>
								<i class="icon-home home-icon"></i>
								<a href="#">首页</a>
							</li>
							<li class="active">控制台</li>
						</ul><!-- .breadcrumb -->

						<div class="nav-search" id="nav-search">
							<form action="{{__HOST__}}/admin/user/index/doSearch" method="post" class="form-search" role="form" style="margin-right:-7px;">
								<span class="input-icon">
									<input type="text" placeholder="成员-Search..." class="nav-search-input" id="usernam" name="usernam" autocomplete="off" list="searchlist"/>
									<datalist id="searchlist" >
										{{each list}}
										<option value="{{$value.usernam}}">{{$value.usernam}}</option>
										{{/each}}
									</datalist>
									<i class="icon-search nav-search-icon" style="margin-top:2.5px;"></i>　
									<a href="{{__HOST__}}/admin/user/index/doSearch"><button type="submit" class="btn btn-default" style="width: 100px ;margin-top: -6px;margin-left: -15px;">搜索</button></a>
								</span>
							</form>
						</div><!-- #nav-search -->
					</div>

					<div class="page-content">
						<div class="page-header">
							<h1>
								控制台
								<small>
									<i class="icon-double-angle-right"></i>
									 查看
								</small>
							</h1>
						</div><!-- /.page-header -->

						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->

								<div class="alert alert-block alert-success">
									<button type="button" class="close" data-dismiss="alert">
										<i class="icon-remove"></i>
									</button>

									<i class="icon-ok green"></i>

									欢迎使用
									<strong class="green">
										Koa+Cms后台管理系统
										<small>(v1.2)</small>
									</strong>
									,轻量级好用的后台管理系统。	
								</div>

								

		
								<!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div><!-- /.main-content -->

			
			</div><!-- /.main-container-inner -->

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="icon-double-angle-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container -->

		{{include 'admin/public/footer.html'}}


</body>
</html>

