/********************  分页样式  **********************/
/* .page{
    width:1140px;background:#ff0000;
    margin:0 auto;padding-top:0px;
} */
.pagination {
    position: absolute;
    float: center;
    height: 40px;
    /* margin: -100px 0px 0px 396px; */
    margin: -100px auto auto 17px;
}
.pagination ul {
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    display: inline-block;
    margin-bottom: 0;
    margin-left: 0;
}
.pagination li {
    display: inline;
}
.pagination a, .pagination span {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #f8f8f8;
    border-color: rgb(221, 221, 221);
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 0;
    float: left;
    line-height: 38px;
    padding: 0 14px;
    text-decoration: none;
    color:rgb(66, 159, 251);
}
.pagination a:hover, .pagination .active a, .pagination .active span {
    background-color: rgb(66, 159, 251);
    color: white;
}
.pagination .active a, .pagination .active span {
    color: #ffffff;
    cursor: default;
}
.pagination .disabled span, .pagination .disabled a, .pagination .disabled a:hover {
    background-color:#f8f8f8;
    color: #999999;
    cursor: default;
}
.pagination li:first-child a, .pagination li:first-child span {
    border-left-width: 1px;
    border-radius: 3px 0 0 3px;
}
.pagination li:last-child a, .pagination li:last-child span {
    border-radius: 0 3px 3px 0;
}
.pagination-centered {
    text-align: center;
}
.pagination-right {
    text-align: right;
}
