{{include 'admin/public/header.html'}}
<link rel="shortcut icon" href="/upload/title_Image/icon.ico"/>

<body>
<div class="navbar navbar-default" id="navbar">
	<script type="text/javascript">
		try{ace.settings.check('navbar' , 'fixed')}catch(e){}
	</script>

	{{include 'admin/public/nav_top.html'}}
</div>

<div class="main-container" id="main-container">
	<script type="text/javascript">
		try{ace.settings.check('main-container' , 'fixed')}catch(e){}
	</script>

	<div class="main-container-inner">
		<a class="menu-toggler" id="menu-toggler" href="#">
			<span class="menu-text"></span>
		</a>

		<!--左侧导航-->

		{{include 'admin/public/nav_left.html'}}

		<div class="main-content">
			<div class="breadcrumbs" id="breadcrumbs">
				<script type="text/javascript">
					try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
				</script>

				<ul class="breadcrumb">
					<li>
						<i class="icon-home home-icon"></i>
						<a href="#">首页</a>
					</li>
					<li class="active">控制台</li>
				</ul><!-- .breadcrumb -->

				<div class="nav-search" id="nav-search">
					<form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
									<i class="icon-search nav-search-icon"></i>
								</span>
					</form>
				</div><!-- #nav-search -->
			</div>

			<div class="page-content">

				<div class="page-header">
					<h1>
						修改社团成员信息
					</h1>
				</div><!-- /.page-header -->

				<!--表格-->

				<div class="table-responsive">
					<form action="{{__HOST__}}/admin/user/doEdit" method="post" class="form-horizontal" enctype="multipart/form-data" style="border:1px solid #eee;">
						<div class="form-group"  style="height: 140px;">
							<label class="col-sm-2 control-label no-padding-right" for="headphoto">修改头像:</label>			
							<div class="col-sm-10">
								<label for="fileinp" id="label">
									<input type="button" id="btn" value="点我上传"><span id="text">　请上传头像</span>
									<input type="file" name="pic" id="fileinp"/>
								</label>
							</div>
							<br/>
							<img src="{{__HOST__}}/{{list.pic}}" alt="" class="img" style="margin-left:285px;margin-top:7px;"/>
							<br/>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label no-padding-right" for="pid">所在社团：</label>
							<div class="col-sm-10">
								<select name="pid" id="pid">
									{{each catelist}}
										<option value="{{@$value._id}}" {{if list.pid==$value._id}} selected {{/if}}>{{$value.associationName}}</option>
									{{/each}}
								</select>
							</div>
							<input type="text" name="associationName" id="associationName"  value="{{list.associationName}}" hidden/>
							<!-- <input type="text" name="id" id="id"  value="{{@list._id}}" hidden/>
							<input type="text" name="prevPage" id="prevPage"  value="{{prevPage}}" hidden/> -->
						</div>
						
						<div class="form-group">
							<label class="col-sm-2 control-label no-padding-right" for="stu_ID">学号:</label>
							<div class="col-sm-10">
								<input type="text" id="stu_ID"   name="stu_ID" value="{{list.stu_ID}}" class="col-xs-10 col-sm-5" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label no-padding-right" for="username">会员名:</label>
							<div class="col-sm-10">
								<input type="text" id="username"   name="username" value="{{list.username}}" class="col-xs-10 col-sm-5" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label no-padding-right" for="sex">性别:</label>
							<div class="col-sm-10">
								<input type="text" id="sex"   name="sex" value="{{list.sex}}" class="col-xs-10 col-sm-5" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label no-padding-right" for="senior">年级:</label>
							<div class="col-sm-10">
								<input type="text" id="senior"   name="senior" value="{{list.senior}}" class="col-xs-10 col-sm-5" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label no-padding-right" for="department">系别:</label>
							<div class="col-sm-10">
								<input type="text" id="department"   name="department" value="{{list.department}}" class="col-xs-10 col-sm-5" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label no-padding-right" for="profession">专业:</label>
							<div class="col-sm-10">
								<input type="text" id="profession"   name="profession" value="{{list.profession}}" class="col-xs-10 col-sm-5" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label no-padding-right" for="whichclass">班级:</label>
							<div class="col-sm-10">
								<input type="text" id="whichclass"   name="whichclass" value="{{list.whichclass}}" class="col-xs-10 col-sm-5" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label no-padding-right" for="telphone">手机号码:</label>
							<div class="col-sm-10">
								<input type="number" id="telphone"   name="telphone" value="{{list.telphone}}" class="col-xs-10 col-sm-5" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label no-padding-right" for="password">修改密码:</label>
							<div class="col-sm-10">
								<input type="password" id="password"  name="password" class="col-xs-10 col-sm-5" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label no-padding-right" for="rpassword">确认密码:</label>
							<div class="col-sm-10">
								<input type="password" id="rpassword"  name="rpassword" class="col-xs-10 col-sm-5" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label no-padding-right" for="rpassword"></label>
							<div class="col-sm-10">
								<button type="submit" class="btn btn-primary">提交</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div><!-- /.main-content -->
	</div><!-- /.main-container-inner -->

	
	<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
		<i class="icon-double-angle-up icon-only bigger-110"></i>
	</a>
</div><!-- /.main-container -->



{{include 'admin/public/footer.html'}}

<script>
//分类改变的时候  把分类的名称赋值给隐藏的表单域
var pidDom=document.getElementById('pid');
var associationName=document.getElementById('associationName');
var options=pidDom.getElementsByTagName('option');
pidDom.onchange=function(){
	//分类改变的时候 获取选中的值 赋值给  associationName
	for(var i=0;i<options.length;i++){
		if(options[i].selected){
			associationName.value=options[i].innerHTML.trim();
		}
	}
}
</script>

</body>
</html>

