{{include 'admin/public/header.html'}}
<head>
<script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.all.min.js"> </script>
<script type="text/javascript" charset="utf-8" src="/ueditor/lang/zh-cn/zh-cn.js"></script>
<link rel="shortcut icon" href="/upload/title_Image/icon.ico"/>
<link rel="stylesheet" href="/datepicker/datepicker.css">
<script src="/datepicker/datepicker.js"></script>
<style>
	.calendar-item {
		
		text-align: center;
		height: 28px;
		width: 120px;
		padding-left: 0px;
		margin-right: 5px;
		line-height: 28px;
		border: 1px solid #ccc;
		border-radius: 2px;
		z-index: 1;
		margin-bottom: 5px;
	}
	#btn{
		height: 40x;
		width: 102px;
		
	}
	#establishDate{
		margin-right: 5px;
	}
</style>
</head>
<body>
	<div class="navbar navbar-default" id="navbar">
		<script type="text/javascript">
			try{ace.settings.check('navbar' , 'fixed')}catch(e){}
		</script>

		{{include 'admin/public/nav_top.html'}}
	</div>

	<div class="main-container" id="main-container">
		<script type="text/javascript">
			try{ace.settings.check('main-container' , 'fixed')}catch(e){}
		</script>

	<div class="main-container-inner">
		<a class="menu-toggler" id="menu-toggler" href="#">
		<span class="menu-text"></span>
		</a>

		<!--左侧导航-->

		{{include 'admin/public/nav_left.html'}}

		<div class="main-content">
			<div class="breadcrumbs" id="breadcrumbs">
				<script type="text/javascript">
				try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
				</script>

				<ul class="breadcrumb">
				<li>
				<i class="icon-home home-icon"></i>
				<a href="#">首页</a>
				</li>
				<li class="active">控制台</li>
				</ul><!-- .breadcrumb -->

				<div class="nav-search" id="nav-search">
					<form class="form-search">
					<span class="input-icon">
					<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
					<i class="icon-search nav-search-icon"></i>
					</span>
					</form>
				</div><!-- #nav-search -->
			</div>

			<div class="page-content">

				<div class="page-header">
					<h1>
					编辑社团招新
					</h1>
				</div><!-- /.page-header -->

				<div class="table-responsive">
					<form action="{{__HOST__}}/admin/recruit/doEdit" method="post" class="form-horizontal" style="border:1px solid #eee;" enctype="multipart/form-data">
						<ul id="myTab" class="nav nav-tabs" style="height:44px;">
							<li class="active">
								<a href="#basic" data-toggle="tab">
								社团招新设置
								</a>
							</li>
						</ul>
						<div id="myTabContent" class="tab-content" style="border: none;">
							<input type="hidden" name="id" id="id" value="{{@list._id}}"/><!--隐藏的表单域:获取传值_id-->
							<!--社团基本信息设置-->
							<div class="tab-pane fade in active" id="basic" >
								<div class="form-group">
									<label class="col-sm-2 control-label no-padding-right" for="pic">更换活动标志图:</label>
									<div class="col-sm-10">
										<label for="fileinp" id="label">
											<input type="button" id="btn" value="点我更换"><span id="text">　支持 Gif / jpg / jpeg / png 格式图片</span>
											<input type="file" name="pic" id="fileinp"/>
										</label>
									</div>
									<br/>
										<img src="{{__HOST__}}/{{list.pic}}" class="img" style="margin-left:270px;margin-top:7px;"/>
									<br/>
								</div>	
								<br/><br/><br/><br/><br/>
								<div class="form-group">
									<div class="form-group">
										<label class="col-sm-2 control-label no-padding-right" for="title">招新标题:</label>
										<div class="col-sm-10">
											<input type="text" id="title"  name="title" class="col-xs-10 col-sm-5" value="{{list.title}}"/>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label no-padding-right" for="pid">所在社团:</label>
									<div class="col-sm-10">
										<select name="pid" id="pid">
											{{each catelist}}
												<option value="{{@$value._id}}" {{if list.pid==$value._id}}selected {{/if}}>{{$value.associationName}}</option>
												{{each $value.list}}
													<option value="{{@$value._id}}"   {{if list.pid==$value._id}}selected {{/if}}>　　　{{$value.associationName}}</option>
												{{/each}}
											{{/each}}
										</select>
									</div>
									<input type="hidden" name="associationName" id="associationName"  value="{{catelist[0].associationName}}" />
									
								</div>
								<div class="form-group">
									<div class="form-group">
										<label class="col-sm-2 control-label no-padding-right" for="contributor">投稿人:</label>
										<div class="col-sm-10">
											<input type="text" id="contributor"  name="contributor" class="col-xs-10 col-sm-5" value="{{list.contributor}}"/>
										</div>
									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-2 control-label no-padding-right">招新状态: </label>
									<div class="col-sm-10">
										<label for="status1">已审核：</label><input type="radio" name="status"  id="status1" value="1" {{if list.status==1}}checked {{/if}}/>
										&nbsp;
										<label for="status2">未审核:</label><input type="radio" name="status" id="status2" value="0" {{if list.status==0}}checked {{/if}}/>
									</div>
								</div>
								<div class="form-group" style="height:300px;">
									<label class="col-sm-2 control-label no-padding-right">招新简介:</label>
									<div class="col-sm-10">
										<textarea name="content" id="content" cols="63" rows="10" style="line-height:30px;text-align: justify;text-indent:2em;">{{list.content}}</textarea>
									</div>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-2 control-label no-padding-right"></label>
							<div class="col-sm-10">
								<button type="submit" class="btn btn-primary" style="margin-left:8px;margin-top:0px;">提交</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div><!-- /.main-content -->

	</div><!-- /.main-container-inner -->

	<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
	<i class="icon-double-angle-up icon-only bigger-110"></i>
	</a>
	</div><!-- /.main-container -->



{{include 'admin/public/footer.html'}}

<script type="text/javascript">
	jQuery(function($) {

	$('table th input:checkbox').on('click' , function(){
		var that = this;
		$(this).closest('table').find('tr > td:first-child input:checkbox').each(function(){
			this.checked = that.checked;
			$(this).closest('tr').toggleClass('selected');
		});
	});

	$('[data-rel="tooltip"]').tooltip({placement: tooltip_placement});
	function tooltip_placement(context, source) {
	var $source = $(source);
	var $parent = $source.closest('table')
	var off1 = $parent.offset();
	var w1 = $parent.width();

	var off2 = $source.offset();
	var w2 = $source.width();

	if( parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2) ) return 'right';
		return 'left';
	}
	})

</script>
</body>
<script>
	Calendar.create({
		classN: 'calendar-item',
		callBack: function(bindElem, dateObj) {
			bindElem.innerHTML = dateObj.year + '-' + dateObj.month + '-' + dateObj.date;
		}
	})
	function print(){
		var a = document.getElementById('divValue').innerText;
		document.getElementById('establishDate').value = a;
		console.log(a);
	}



	//分类改变的时候  把分类的名称赋值给隐藏的表单域
	var pidDom=document.getElementById('pid');
	var associationName=document.getElementById('associationName');
	var options=pidDom.getElementsByTagName('option');
	pidDom.onchange=function(){
		//分类改变的时候 获取选中的值 赋值给  associationName
		for(var i=0;i<options.length;i++){
			if(options[i].selected){
				associationName.value=options[i].innerHTML.trim();
			}
		}
	}
</script>
</html>

