#content{border: 1px solid rgba(222,222,222,0.8);padding: 16px;border-radius: 2px;}

.list {
    width: 140px;
    height: 40px; 
    border:1px solid rgb(255, 255, 255); 
    display:inline-block;
    border-radius: 0px;
    position: relative; 
    line-height: 40px;
    margin-left: 12px;
    margin-top: -5px;
}   
#file{
    position: absolute;
    opacity: 0;
    color:white;
    width: 100%;
    height: 100%;
    z-index: 100;
}
.list span{
    display: inline-block;
    text-align: center;
    width: 100%;
    line-height: 40px;
    position: absolute;
    background-color: rgb(255, 112, 112);
    color: rgb(255, 255, 255);
}
video{
    margin-top: 8px;
    margin-left: 278px;
    border-radius: 4px;
}
._p{
    margin: 14px;
}
._p input{
    display: inline-block;
    width: 70%;
    margin-left: 6px;
}
._p span{
    font-size: 15px;
}
#btn{
    margin-left: 0px;
    margin-top: -5px;
    border-radius: 0px;
    border: 0px solid rgb(255, 255, 255);
    width: 140px;
    height: 40px;
}
.liStyle{
    list-style-type: none;
    border: 1px solid #ebebeb;
    width: 250px;
    margin-left: 255px;
  
}
.progress{
    width: 575px;
    height: 40px;
    margin-left: 280px;     
}
