{{include 'admin/public/header.html'}}
<link rel="shortcut icon" href="/upload/title_Image/icon.ico"/>

	<body>
		<div class="navbar navbar-default" id="navbar">
			<script type="text/javascript">
				try{ace.settings.check('navbar' , 'fixed')}catch(e){}
			</script>

			{{include 'admin/public/nav_top.html'}}
		</div>

		<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>

			<div class="main-container-inner">
				<a class="menu-toggler" id="menu-toggler" href="#">
					<span class="menu-text"></span>
				</a>

				<!--左侧导航-->

				{{include 'admin/public/nav_left.html'}}

				<div class="main-content">
					<div class="breadcrumbs" id="breadcrumbs">
						<script type="text/javascript">
							try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
						</script>

						<ul class="breadcrumb">
							<li>
								<i class="icon-home home-icon"></i>
								<a href="#">首页</a>
							</li>
							<li class="active">控制台</li>
						</ul><!-- .breadcrumb -->

						<div class="nav-search" id="nav-search">
							<form action="{{__HOST__}}/admin/associationcate/index/doSearch" method="post" class="form-search" role="form" style="margin-right:-7px;">
								<span class="input-icon">
									<input type="text" placeholder="社团-Search..." class="nav-search-input" id="associationName" name="associationName" autocomplete="off" list="searchlist"/>
									<datalist id="searchlist" >
										{{each list}}
										<option value="{{$value.associationName}}">{{$value.associationName}}</option>
										{{/each}}
									</datalist>
									<i class="icon-search nav-search-icon" style="margin-top:2.5px;"></i>　
									<a href="{{__HOST__}}/admin/associationcate/index/doSearch"><button type="submit" class="btn btn-default" style="width: 100px ;margin-top: -5.5px;margin-left: -15px;">搜索</button></a>
								</span>
							</form>
						</div><!-- #nav-search -->
					</div>

					<div class="page-content">

						<div class="page-header">
							<h1>
								学院社团列表
							</h1>
						</div><!-- /.page-header -->



						<!--表格-->

						<div class="table-responsive">
							<table id="sample-table-1" class="table table-bordered table-hover left">
								<thead>
									<tr>
										<th class="center" width="80px;">序号</th>
									    <th class="center">社团Logo</th>
										<th class="center">社团名称</th>
										<th class="center">社团简介封面</th>
										<th class="center">成立日期</th>
										<th class="center">创建人</th>
										<th class="center">更新时间</th>
										<!-- <th class="center">宣传标语</th> -->
										<th class="center" width="80px;">发布状态</th>
										<th width="150px;" class="center">操作</th>
									</tr>
								</thead>

								<tbody>
								{{each list}}
									<tr class="">
										<td class="center">{{ $index +1 }}</td>
										<td class="center">
											<img src="{{__HOST__}}/{{$value.pic}}" alt="" style="width:30px"/>
										</td>
										<td class="center">
											{{$value.associationName}}
											<!-- --{{@$value._id}} -->
										</td>
										<td class="center">
											<img src="{{__HOST__}}/{{$value.introcoverphoto}}" alt="" style="width:30px"/>
										</td>
										<td class="center">
											{{$value.establishDate}}
										</td>
										<td class="center">
											{{$value.creater}}
										</td>
										<td class="center">
											{{if $value.update_time}}
													{{$value.update_time | dateFormat}}
											{{/if}}
										</td>
										<!-- <td class="center">
											{{$value.slogan}}
										</td> -->
										<td class="center">
											{{if $value.aStatus==1}}
												<img src="{{__HOST__}}/admin/images/yes.gif" onclick="app.toggle(this,'associationcate','aStatus','{{@$value._id}}')" />
											{{else}}
												<img src="{{__HOST__}}/admin/images/no.gif" onclick="app.toggle(this,'associationcate','aStatus','{{@$value._id}}')" />
											{{/if}}
										</td>

										<td>
											<div class="visible-md visible-lg hidden-sm hidden-xs btn-group center">


												<a href="{{__HOST__}}/admin/associationcate/edit?id={{@$value._id}}">

													<button class="btn" style="width:40px;height: 40px;border-radius: 25px 25px 25px 25px;">
														<img src="{{__HOST__}}/default/images/edit.png" alt="" style="width:30px;height: 30px;margin-right:15px;margin-left:-10px;margin-top: -4px;">
													</button>
												</a>

												<a class="delete" href="{{__HOST__}}/admin/remove?collection=associationcate&id={{@$value._id}}">



													<button class="btn" style="width:40px;height: 40px;border-radius: 25px 25px 25px 25px;">
														<img src="{{__HOST__}}/default/images/delete.png" alt="" style="width:33px;height:33px;margin-left:-11.8px;margin-top: -5.6px;">
													</button>

												</a>

											</div>

										</td>
									</tr>
								{{/each}} 

								</tbody>
							</table>
							<div id="page" class="pagination"></div>
						</div>

					</div>
				</div><!-- /.main-content -->
			
			</div><!-- /.main-container-inner -->

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="icon-double-angle-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container -->



	{{include 'admin/public/footer.html'}}
<!--注意放在jq下面-->
<script src="{{__HOST__}}/admin/jqPaginator.js"></script>

<script>
	$('#page').jqPaginator({
		totalPages: {{totalPages}},
		visiblePages: 8,
		currentPage: {{page}},
		onPageChange: function (num, type) {
			console.log(num, type);
			if(type=='change'){
				location.href="{{__HOST__}}/admin/associationcate?page="+num;
			}
		}
	});

</script>

<script type="text/javascript">
	jQuery(function($) {
		$('table th input:checkbox').on('click' , function(){
			var that = this;
			$(this).closest('table').find('tr > td:first-child input:checkbox')
			.each(function(){
				this.checked = that.checked;
				$(this).closest('tr').toggleClass('selected');
			});
				
		});
	
	
		$('[data-rel="tooltip"]').tooltip({placement: tooltip_placement});
		function tooltip_placement(context, source) {
			var $source = $(source);
			var $parent = $source.closest('table')
			var off1 = $parent.offset();
			var w1 = $parent.width();
	
			var off2 = $source.offset();
			var w2 = $source.width();
	
			if( parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2) ) return 'right';
			return 'left';
		}
	})
</script>
	
</body>
</html>

