{{include 'admin/public/header.html'}}
<link rel="shortcut icon" href="/upload/title_Image/icon.ico"/>

	<body>
		<div class="navbar navbar-default" id="navbar">
			<script type="text/javascript">
				try{ace.settings.check('navbar' , 'fixed')}catch(e){}
			</script>
			{{include 'admin/public/nav_top.html'}}
		</div>

		<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>

			<div class="main-container-inner">
				<a class="menu-toggler" id="menu-toggler" href="#">
					<span class="menu-text"></span>
				</a>

				<!--左侧导航-->

				{{include 'admin/public/nav_left.html'}}

				<div class="main-content">
					<div class="breadcrumbs" id="breadcrumbs">
						<script type="text/javascript">
							try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
						</script>

						<ul class="breadcrumb">
							<li>
								<i class="icon-home home-icon"></i>
								<a href="#">首页</a>
							</li>
							<li class="active">控制台</li>
						</ul><!-- .breadcrumb -->

						<div class="nav-search" id="nav-search">
							<form action="{{__HOST__}}/admin/video/list/doSearch" method="post" class="form-search" role="form" style="margin-right:-7px;">
								<span class="input-icon">
									<input type="text" placeholder="视频-Search..." class="nav-search-input" id="title" name="title" autocomplete="off" list="searchlist"/>
									<datalist id="searchlist" >
										{{each list}}
										<option value="{{$value.title}}">{{$value.title}}</option>
										{{/each}}
									</datalist>
									<i class="icon-search nav-search-icon" style="margin-top:2.5px;"></i>　
									<a href="{{__HOST__}}/admin/video/list/doSearch"><button type="submit" class="btn btn-default" style="width: 100px ;margin-top: -5.5px;margin-left: -15px;">搜索</button></a>
								</span>
							</form>
						</div><!-- #nav-search -->
					</div>

					<div class="page-content">

						<div class="page-header">
							<h1>
								视频列表
							</h1>
						</div><!-- /.page-header -->

						<!--表格-->

						<div class="table-responsive">
							<table id="sample-table-1" class="table table-bordered table-hover center">
								<thead>
									<tr>
										<th class="center" width='80px;'>序号</th>
										<th class="center">视频名称</th>
										<th class="center" width='300px;'>视频链接地址</th>
										<th class="center">排序</th>
										<th class="center">发布状态</th>

										<th width="150px;" class="center">操作</th>
									</tr>
								</thead>

								<tbody>

								{{each list}}
									<tr class="">
										<td>{{$index+1}}</td>
										<td>{{$value.title}}</td>
										<td>{{$value.myfile}}</td>
										<td>
											<input type="text" value="{{$value.sort || 0}}" class="sort_input" onblur="app.changeSort(this,'video','{{@$value._id}}')"/>
										</td>
										<td class="hidden-480">
											{{if $value.status==1}}
												<img src="{{__HOST__}}/admin/images/yes.gif" onclick="app.toggle(this,'video','status','{{@$value._id}}')" />
											{{else}}
												<img src="{{__HOST__}}/admin/images/no.gif" onclick="app.toggle(this,'video','status','{{@$value._id}}')" />
											{{/if}}
										</td>

										<td>
											<div class="visible-md visible-lg hidden-sm hidden-xs btn-group center">
												<a href="{{__HOST__}}/admin/video/edit?id={{@$value._id}}">
													<button class="btn" style="width:40px;height: 40px;border-radius: 25px 25px 25px 25px;">
														<img src="{{__HOST__}}/default/images/edit.png" alt="" style="width:30px;height: 30px;margin-right:15px;margin-left:-10px;margin-top: -4px;">
													</button>
												</a>
											  	<a class="delete" href="{{__HOST__}}/admin/remove?collection=video&id={{@$value._id}}">
													<button class="btn" style="width:40px;height: 40px;border-radius: 25px 25px 25px 25px;">
														<img src="{{__HOST__}}/default/images/delete.png" alt="" style="width:33px;height:33px;margin-left:-11.8px;margin-top: -5.6px;">
													</button>
												</a>
											</div>
										</td>
									</tr>
								{{/each}}
								</tbody>
							</table>
							<div id="page" class="pagination"></div>
						</div>
					</div>
				</div><!-- /.main-content -->
			</div><!-- /.main-container-inner -->

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="icon-double-angle-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container -->



	{{include 'admin/public/footer.html'}}


	
</body>
</html>

